
:host {
  -webkit-print-color-adjust: exact;
  position: relative;  
  -webkit-touch-callout: none;
  user-select: none;
  overflow: hidden;
  text-align: center;
  width: 100%;
  height: 100%;
}

.tree-roots-elements {
  position: relative;
  text-align: center;
  display: inline-block;
  white-space: nowrap;
  cursor: default !important;
  font-size: 0;
  transform-origin: center;
}
.tree-node {
  position: relative;
  display: inline-block;
  margin: 15px;
  vertical-align: top;
}
.tree-node:only-of-type > .line-to {
  display: none;
}
.tree-pane, .tree-paning-container {
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0; 
}
