<h4>Features</h4>

   <p>
      Paleta de rostos (jovens, velhos, crianças, homem, mulher, etc) que a pessoa poderia criar, conforme lê na
      história, como ela imagina que seria o personagem (poderia tb colocar itens como chapeu, bigode, enfim, várias
      coisas que individualizasse o personagem)
   </p>
   <p>
      Campo para colocar suas principais carecterísticas, personalidade, influência que está tendo na história (bem
      pessoal, pra cada leito)
   </p>
   <p>
      Campo pra colocar um resumo da historia, podendo dividir por capitulo, etc
   </p>
