<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">
        <a class="mdl-navigation__link" routerLink="home">
          <img src="../assets/icons/icon-48x48-transparent.png" width="40px;" height="40px;">
        </a>
      </span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" [routerLink]="['/editar-livro', 0]" (click)="onClickCloseMenu()">Novo Livro</a>        
        <a class="mdl-navigation__link" routerLink="livros">Meus Livros</a>        
        <a class="mdl-navigation__link" routerLink="sobre">Sobre</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer" #leftMenu>
    <span class="mdl-layout-title">
      <a class="mdl-navigation__link" routerLink="home" (click)="onClickCloseMenu()">
        Home
      </a>  
    </span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" [routerLink]="['/editar-livro', 0]" (click)="onClickCloseMenu()">Novo Livro</a>
      <a class="mdl-navigation__link" routerLink="livros" (click)="onClickCloseMenu()">Meus Livros</a>
      <a class="mdl-navigation__link" routerLink="sobre" (click)="onClickCloseMenu()">Sobre</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content">
      <router-outlet></router-outlet>

    </div>
  </main>
</div>
