:host{
    height: 100%;
}

.main {
    height: 100%;
    text-align: center;
}

div.middle {
    height: 100%;
    position: relative;
}

.descricao {
    position: absolute;
    bottom: 0;  
}
